@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.form-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: red;
}

.form {
  font-family: "Roboto";
  max-width: 360px;
  margin: 30px auto 0;
  display: block;
  background: #fff;
  padding: 10px 50px 50px;
  border-radius: 5px;
}

.form-input {
  display: flex;
  align-items: center;
  flex-direction: column;
}
button {
  cursor: pointer;
  background-color: #d8232a;
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
p {
  color: #757575;
}
.line p {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #757575;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.line p span {
  background: #fff;
  color: #757575;
  padding: 0 10px;
}
#social {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px 10px 5px;
  padding: 7px;
  text-align: center;
}
.smGlobalBtn {
  /* global button class */
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 10px;
  width: 50px;
  height: 50px;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
}
.sm-margin {
  margin: -10px;
}

/* facebook button class*/
.facebookBtn {
  background: #4060a5;
}

.facebookBtn:before {
  /* use :before to add the relevant icons */
  font-family: "FontAwesome";
  content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover {
  color: #4060a5;
  background: #fff;
  border-color: #4060a5; /* change the border color on mouse hover */
}

/* google plus button class*/
.googleplusBtn {
  background: #e64522;
}

.googleplusBtn:before {
  font-family: "FontAwesome";
  content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover {
  color: #e64522;
  background: #fff;
  border-color: #e64522;
}

.footer {
  text-align: center;
}
.footer a {
  color: #53b2c8;
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
