@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400&display=swap");

body {
  background-color: whitesmoke;
  font-family: "Muli", "Open Sans";
}
h6,
p {
  font-family: "Muli", "Open Sans";
  font-size: 20px;
  font-weight: 500;
}
.nav-wrapper {
  background-color: #3f51b5;
}
.nav-logo {
  position: absolute;
  margin-left: 80px;
}
.nav-lists {
  position: absolute;
  margin-left: 950px;
}
.form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}
.wrapper {
  width: 100%;
}
.pagination-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small {
  width: 900px;
  max-height: 250px;
}

.margin {
  margin: 3px;
}
.margin-lg {
  margin: 6px;
}
a {
  color: black;
}
image {
  max-width: 100%;
  max-height: 100%;
}
.card-action,
.card-content {
  display: flex;
  justify-content: space-between;
}

.card:hover {
  background-color: beige;
}

.review-component {
  display: flex;
  flex-direction: row;
}
.card-rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50px !important;
  height: 25px;
}
.rating-text {
  color: #fff;
  font-size: 18px;
}
.favourites button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 130px;
}
/*Filters*/

/*By feature*/
.collapsible-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.collapsible-body {
  background-color: #fff;
}
.collapsible-body a {
  color: black;
  background-color: #fff;
}
.collapsible-body i:active {
  color: #1a73e8;
}

/*DatePicker Custom CSS*/
.confirmation-btns {
  display: flex;
  flex-direction: row-reverse;
}
.btn-flat {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 70px;
}
.is-selected {
  display: flex !important;
  vertical-align: middle !important;
  justify-content: center !important;
  text-align: center !important;
  border: #26a69a !important;
  border-radius: 0 !important;
}
.active {
  background-color: #3f51b5;
}
/*Filters*/
.filter-container {
  background-color: white;
  width: 400px;
  display: flex;
  justify-content: center;
}
.filter-wrapper {
  width: 350px;
  height: 1150px;
}
.by-ratings,
.by-type {
  display: flex;
  flex-direction: column;
  align-items: start;
}
i {
  margin: 3px 7px 3px 0 !important;
}
.stars {
  color: #3f51b5;
}
.heart {
  color: crimson;
}
.border:hover {
  border: 1px solid #1a73e8;
}
.border:hover i {
  color: #1a73e8;
}
.margin-btn {
  padding: 20px;
}

label {
  vertical-align: middle;
  margin: 12px;
}
.align-middle {
  height: 8px;
  font-size: 8px;
  margin: 20px;
}
.row {
  display: flex;
  justify-content: center;
}
/*NoUiSlider*/
.by-price {
  display: flex;
  flex-direction: row;
}
button {
  width: 30px;
  height: 30px;
  border: 0;
  margin: 0 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}
.left {
  width: 80%;
  display: absolute;
  margin: 15px 0px 15px 0px;
}
.right {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.right i {
  color: black;
}
button:focus {
  outline: 0 !important;
}
.noUi-target {
  height: 2px;
  border: none;
  margin: 0px 0 0 0;
}
.noUi-target .noUi-base {
  background: #3f51b1;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.noUi-connects {
  border-radius: 15px;
}
.noUi-target .noUi-base .noUi-connect {
  background: transparent;
}
.noUi-target .noUi-base .noUi-tooltip {
  bottom: -39px;
  color: black;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 12px;
}
.noUi-handle.noUi-handle-lower {
  background: white;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  outline: none;
  right: 0px;
  top: -6px;
  cursor: pointer;
  box-shadow: none;
  border: 2px solid #3f51b5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.noUi-handle.noUi-handle-lower.noUi-active {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.noUi-handle.noUi-handle-lower::before,
.noUi-handle.noUi-handle-lower::after {
  display: none;
}
.noUi-handle.noUi-handle-lower .noUi-touch-area {
  width: 10px;
  height: 10px;
}

@media only screen and (max-width: 1100px) {
  .left {
    width: 20%;
  }
  .right {
    width: 80%;
  }
  .small {
    max-width: 500px;
    max-height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .nav-logo {
    position: absolute;
    margin: 0 50%;
  }
  .small {
    width: 150px;
  }
  .by-price {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 60px;
  }
  .left {
    width: 100%;
  }
  .right {
    display: hidden;
    opacity: 0;
  }

  .form-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .filter-container {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .filter-wrapper {
    width: 80%;
    height: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .collapsible-body a {
    width: 70px;
  }

  .collapsible-body a i {
    position: relative;
    margin: 0 auto;
    text-align: center;
  }

  .favourites button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80px;
    height: 35px;
  }
}
